{% extends "layout.html" %}

{% block menubar %}
<a class="col-lg-1 font-weight-bolder text-warning" style="text-decoration: none" href="{{ url_for('about') }}">About</a>
<a class="col-lg-1 font-weight-bolder text-light" style="text-decoration: none" href="{{ url_for('weather') }}">Weather</a>
<a class="col-lg-3 font-weight-bolder text-light" style="text-decoration: none" href="{{ url_for('floods') }}">Surging Seas</a>
{% endblock menubar %}

{% block content %}
<h4 class="mt-3 bg-muted" style="color:#4976d0">This website enables You to check weather at all cities that might interest You. At once.</h4>
<h4 class="mt-3" style="color:#4976d0">Website, that enables You to check weather at all cities that might interest You at once.</h4>
{% endblock content %}