{% extends "layout.html" %}

{% block menubar %}
<a class="col-lg-1 font-weight-bolder text-warning" style="text-decoration: none" href="{{ url_for('about_bp.about') }}">About</a>
<a class="col-lg-1 font-weight-bolder text-light" style="text-decoration: none" href="{{ url_for('weather_bp.weather') }}">Weather</a>
<a class="col-lg-3 font-weight-bolder text-light" style="text-decoration: none" href="{{ url_for('floods_bp.floods') }}">Surging Seas</a>
{% endblock menubar %}

{% block content %}
<info_section class="row">
    <h4 class="highlight col-12 mt-3 text-light text-center rounded py-3" style="background-color:#33cccc">This website allows You:</h4>
    <h4 class="highlight_2 col-12 mt-3 text-light text-center rounded py-3" style="background-color:#33cccc">To check weather in multiple cities. All of them will be remembered.</h4>
    <h4 class="highlight_3 col-12 mt-3 text-light text-center rounded py-3" style="background-color:#33cccc">To check if there is risk of flood in Your zone.</h4>
</info_section>
{% endblock content %}