{% extends "layout.html" %}

{% block menubar %}
<a class="col-lg-1 font-weight-bolder text-light" style="text-decoration: none" href="{{ url_for('about') }}">About</a>
<a class="col-lg-1 font-weight-bolder text-light" style="text-decoration: none" href="{{ url_for('weather') }}">Weather</a>
<a class="col-lg-3 font-weight-bolder text-warning" style="text-decoration: none" href="{{ url_for('floods') }}">Surging Seas</a>
{% endblock menubar %}

{% block content %}

<div class="row mt-3">
    <h5 class="offset-lg-4 col-lg-4 font-weight-bolder text-center text-info">Which sea level will we lock in?</h5>
    <form class="offset-lg-4 col-lg-4 card card-body bg-light" method="POST" action="">
        <data class="row">
            {{ form.hidden_tag() }}
            <city class="col-lg-12">
                {{ form.city_name.label(class="form-control-label") }}
                {{ form.city_name(class="form-control form-control-md") }}
            </city>
            <temperature class="col-lg-12">
                {{ form.how_many_metters.label(class="form-control-label") }}
                {{ form.how_many_metters(class="form-control form-control-md") }}
            </temperature>
            <p class="col-lg-12 text-center">
                <br>
                {{ form.submit(class="btn btn-outline-info") }}
            </p>
            <h8 class="col-lg-12 text-info">
                Note: Data says, that by 2100 we will reach increase of 0.69[m].
            </h8>
        </data>
    </form>
    {% for card in data %}
    <city class="offset-lg-4 col-lg-4 card card-body bg-light mt-3">
        <link_section class="row">
            <h5 class="col-8 text-left"><a style="color:#4976d0" href="{{ card.link }}" target="_blank">{{ card.city }}</a>, <span class="text-danger">{{ card.lvl_increase }}m</span></h5>
            <button class="col-4 text-right close" aria-label="Close">
                <a href="{{ url_for('delete_link', link=card.id) }}">
                    <span aria-hidden="true">&times;</span>
                </a>
            </button>
        </link_section>
    </city>
    {% endfor %}
</div>

{% endblock content %}
https://www.floodmap.net/?ll=16.272864,18.682001&z=10&e=10