{% extends "layout.html" %}

{% block menubar %}
<a class="col-lg-1 font-weight-bolder text-light" style="text-decoration: none" href="{{ url_for('about_bp.about') }}">About</a>
<a class="col-lg-1 font-weight-bolder text-light" style="text-decoration: none" href="{{ url_for('weather_bp.weather') }}">Weather</a>
<a class="col-lg-3 font-weight-bolder text-light" style="text-decoration: none" href="{{ url_for('floods_bp.floods') }}">Surging Seas</a>
{% endblock menubar %}

{% block content %}

<div class="row">
    <form class="col-md-12 mt-3 p-3 bg-light" method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div>
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check mb-3">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </div>
        <div>
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <div class="m-3">
        <small class="text-muted">
            Don't have an account? <a class="ml-2" href="{{ url_for('users_bp.register') }}">Sign up</a>
        </small>
    </div>
</div>
{% endblock content %}